@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


.brr1 {
  border-radius: 63px;
border: 1px solid #000;
background: #FDEE6D;
  
}

.brr {
 
  border-radius: 60px;
  background-color : lightgray ;
  background-position: -31.554px -10.728px / 208.969% 208.969%;
background-repeat:   no-repeat;
}
.f {
  
  position:relative;
}
.star {
  position:absolute;
  
}

@media screen and (max-width: 650px) {

  .star {
    
    width:40px;
    left:220px;
    top:160px;
  }

}

@media screen and (min-width: 650px) {

  .star {
    
    width:60px;
    left:680px;
    top:230px;
  }

}
@media screen and (min-width: 1024px ) {

  .star {
    
    width:70px;
    left:530px;
    top:300px;
  }

}
@media screen and (min-width: 1150px ) {

  .star {
    
    width:70px;
    left:680px;
    top:230px;
  }

}

